<%= render partial: '/admin/merchandise/sub_header'%>

<h3 class="page-title">New Dress Code</h3>

<%= form_for @product_code, url: admin_merchandise_product_codes_path do |form| %>
  <%= render partial: '/admin/merchandise/product_codes/form', locals: { form: form, button_action: "Create"}%>
<% end %>
