<div class="control-group">
    <label class="control-label">Commission % </label>
    <div class="controls">
       <%=f.text_field :commission ,:class=>"span5 m-wrap"%>
       <!-- <div class="pull-right"> Required Fields </div> -->
    </div>
 </div>
 <div class="control-group">
    <label class="control-label">User Name</label>
    <div class="controls">
       <%= f.select :user_id,@designers,:selected =>f.object.new_record? ? 1 : @commission.user.present? ? @commission.user_id : 1 %>
     
       <%=@commission.user%>
       <!-- <input type="text" class="span5 m-wrap" /> -->
       <!-- <div class="pull-right"> Required Fields </div> -->
    </div>
 </div>


<div class="form-actions">
  <%=f.submit "Save",:class=> "btn blue"%>
  <button type="button" class="btn" onclick="this.form.reset();">Reset</button>
  <button type="button" class="btn" onclick="window.location.href='/admin/commissions'">Cancel</button>
</div>