<%if flash%>
	<div class="alert  alert-info">
		<button data-dismiss="alert" class="close"></button>
	 	<%= notice %>
   		<%= alert %>
	</div>
<%end%>
<!-- <div class="alert alert-success">
	<button data-dismiss="alert" class="close"></button>
	<strong>Success!</strong> The page has been added.
</div>
<div class="alert alert-info">
	<button data-dismiss="alert" class="close"></button>
	<strong>Info!</strong> You have 198 unread messages.
</div>
<div class="alert alert-error">
	<button data-dismiss="alert" class="close"></button>
	<strong>Error!</strong> The daily cronjob has failed.
</div> -->