

<%@brands.each do |brand|%>
	<%=link_to "#{brand.name}"%> <br/>
<%end%>


<div class="slider1" width="1000px">
  <div class="slide"><img src="/assets/example/1.jpg" width="300" ><img src="/assets/example/4.jpg" width="300"></div>
  <div class="slide"><img src="/assets/example/2.jpg" width="300" ></div>
  <div class="slide"><img src="/assets/example/4.jpg" width="300"><img src="/assets/example/8.jpg" width="300"></div>
  <div class="slide"><img src="/assets/example/6.jpg" width="300" ></div>
  <div class="slide"><img src="/assets/example/1.jpg" width="300"><img src="/assets/example/4.jpg"width="300" ></div>
  <div class="slide"><img src="/assets/example/2.jpg" width="300" ></div>
  <div class="slide"><img src="/assets/example/4.jpg" width="300"><img src="/assets/example/8.jpg" width="300"></div>
  <div class="slide"><img src="/assets/example/6.jpg" width="300" ></div>
  
</div>

