<ul>	
	<li class="tab1"><a href="/welcome/index?option=brand"><span>Brand</span></a></li>
	<li><a href="/welcome/index?option=style"><span>Style</span></a></li>
	<li><a href="<%=products_path(:option=>"gender")%>"><span>Gender</span></a></li>
	<li><a href="<%=products_path(:option=>"hot")%>"><span>Hot</span></a></li>
  <li><a href="#"><span>News</span></a></li>
	<li><a href="<%=blogs_path()%>"><span>Blog</span></a></li>
	<li><a href="#"><span>Show</span></a></li>
</ul>