<h3 class="page-title">Inventory Adjustments</h3>

<div class="admin_adjustments">
  <div class="admin_users">
    <%=render :partial=>"/shared/filters"%>
  </div>
  <table class="table table-striped table-hover table-bordered table-hd" >
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
    </tr>
    </thead>
    <% for product in @products %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= link_to product.name, admin_inventory_adjustment_path(product) %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @products %>
</div>