.topslider{width:1300px;min-height: 0px !important;margin-bottom: 40px}
.row-fluid{clear:both;}
.shp-bag input.checkout { font-weight:700; color:#2cc6c2; float:right; font-size:14px;background: transparent;border: none}
.carousel{margin-bottom: 0px !important}
.pagination_dev {
  background: white;
  cursor: default;float: right;
  /* self-clearing method: */ }
  .pagination_dev a, .pagination_dev span, .pagination_dev em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination_dev .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination_dev .current {
    font-style: normal;
    font-weight: bold;
    color: #2cc5c1;;
    border: 1px solid #2cc5c1; }
  .pagination_dev a {
    text-decoration: none;
    color: #d6d6d6;
    border: 1px solid #d6d6d6; }
    .pagination_dev a:hover, .pagination_dev a:focus {
      color: #2cc5c1;
      border-color: #2cc5c1; }
  .pagination_dev .page_info {
    /*background: #2e6ab1;*/
    color: #178fff;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    /*text-align: center;*/ }
    .pagination_dev .page_info b {
      color: #000033;
      /*background: #6aa6ed;*/
      padding: 0.1em 0.25em; }
  .pagination_dev:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination_dev {
    height: 1%; }
  *:first-child + html .pagination_dev {
    overflow: hidden; }
.remove-background{background: none !important;border:none !important;}
.white{color:white !important ;text-shadow:none !important;}
.remove-background span{background-image: url(/assets/main/down-arrow.png) no-repeat;}
.dropdown-toggle i {margin-left: 20px;}

.checkout-option #new_address select {font-size:16px; color:#bebebe; height:36px; margin-bottom:13px;margin-left: 0px; border-radius:4px;}

input[type="submit"].btn-commen-blue-inp {background:#2cc6c2; color:#fff; font-size:16px; height:36px; text-align:center; border:none; border-radius:2px;}
input[type="submit"].btn-commen-blue-inp:hover {background:#1cb1ad;}
input[type="submit"].inp-btn-170 {width:170px;}
input[type="submit"].btn-bag {background:#2cc6c2; border-radius:2px; width:170px; height:36px; line-height:36px;border:none; color:#fff; font-size:16px; display:inline-block; text-align:center; float:right;}
.total-list label {font-size: 16px;color: #444444;float: left;text-transform: uppercase;margin: 0 0 0 2px !important;width: 150px !important;}
.total-list .price{font-size: 16px;color: #444444;text-transform: uppercase;margin: 0 0 0 2px !important;width: 150px !important;float:right;text-align: right}
.delivery-meth-box-inner input[type="text"]{text-align: left !important}
.width-250-inp[type="submit"]{width:250px !important;}
.top-login a{color:#fff;}
.top-login .span6{padding-top:5px;}
.checkout-option input[type="email"]{width: 90%;height: 26px;line-height: 26px;border-radius: 4px;font-size: 16px;color: #bebebe;margin-bottom: 14px;}
/*.carousel-control {position: relative !important;margin-top:-300px !important}*/
/*.carousel-control.left{left:10% !important;}
.carousel-control.right{right:10% !important  ;}*/
.carousel-control{position: relative !important;margin-top: -23% !important;}
.topslider{background: white !important}