.topslider{width:1300px;}
.row-fluid{clear:both;}
.topslider{margin-bottom: 40px}
.shp-bag input.checkout { font-weight:700; color:#2cc6c2; float:right; font-size:14px;background: transparent;border: none}
.carousel{margin-bottom: 0px !important}
.pagination_dev {
  background: white;
  cursor: default;float: right;
  /* self-clearing method: */ }
  .pagination_dev a, .pagination_dev span, .pagination_dev em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination_dev .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination_dev .current {
    font-style: normal;
    font-weight: bold;
    color: #2cc5c1;;
    border: 1px solid #2cc5c1; }
  .pagination_dev a {
    text-decoration: none;
    color: #d6d6d6;
    border: 1px solid #d6d6d6; }
    .pagination_dev a:hover, .pagination_dev a:focus {
      color: #2cc5c1;
      border-color: #2cc5c1; }
  .pagination_dev .page_info {
    /*background: #2e6ab1;*/
    color: #178fff;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    /*text-align: center;*/ }
    .pagination_dev .page_info b {
      color: #000033;
      /*background: #6aa6ed;*/
      padding: 0.1em 0.25em; }
  .pagination_dev:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination_dev {
    height: 1%; }
  *:first-child + html .pagination_dev {
    overflow: hidden; }
.remove-background{background: none !important;border:none !important;}
.white{color:white !important ;text-shadow:none !important;}
.remove-background span{background-image: url(/assets/main/down-arrow.png) no-repeat;}
.dropdown-toggle i {margin-left: 20px;}