<label class="width-168-label">Style Level: <span><%=@avg_rating.to_i.to_s%></span></label>
          <label class="width-127-label">Rocks: <span><%=@count.to_s%></span></label>
          <label class="width-200-label">Listed:: <span>12</span></label>