<div class="row-fluid breadcrumb-full-bg">
  <div class="container">
    <h1>Order confirmation</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> <span class="divider">→</span></li>
      <li class="active">Order confirmation</li>
    </ul>
  </div>
</div>
<div class="container">
  <div id="order-confirmation">
    <div class="row">
      <div class='eight columns'>    
        An email confirmation has been sent to you <br/>
        Order Number: <span class="bold black"><%= @order.number %></span>
        <hr style='color:#aac;'/>
        <div class='' style="padding:50px">
          <% @order.order_items.each_with_index do |item, i| %>
            <div class='pull-left' style="margin:20px;">
              <div class='four column top20'>
                <%= image_tag item.variant.product.featured_image(:medium) %>
              </div>
              <div class='eight column'>
                <h4 class='red bold text-10 top20'>
                  Item #<%= i + 1 %>: <%= raw item.variant.product_name %>
                </h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
