/** application.css
   *= require main/dev_style	
   *= require main/style
   *= require main/bootstrap
   *= require main/bootstrap-responsive
   *= require product_page/jquery.jcarousel
   *= require product_page/skin
   *= require product_page/jc
*/

#flash {
position: fixed;
z-index: 999;
margin-left: 35%;
width: 455px;
padding: 52px;
border-radius: 5px;
}

.red{color:red;}