/** application.css
   *= require main/dev_style	
   *= require main/style
   *= require main/bootstrap
   *= require main/bootstrap-responsive
   *= require product_page/jquery.jcarousel
   *= require product_page/skin
   *= require product_page/jc
   *= require tinycarousel
*/

/*#flash {
position: fixed;
z-index: 999;
margin-left: 35%;
width: 455px;
padding: 52px;
border-radius: 5px;
}*/


#flash {
position:fixed;
z-index: 999;
left:545px; top:118px;}


.red{color:red;}

#infscr-loading{
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 40%;
  bottom: 40%;
  width: 200px;
  padding: 10px;
  background: black;
  filter: alpha(opacity=80);
  opacity: 0.80;
  -moz-opacity: 0.80;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px;
}

#loadimg{
  height: 46px;
  width: 46px;
}