/*/* Tiny Carousel */

.slider-container{ width:100%; height:auto; position:relative;}
.slider-container .super-hot-tab li a{ margin-top:-1px; padding-top:14px; margin-right:0px;}
.slider-container .super-hot-tab li{ width:300px;}
.slider-container .slider-brd{ margin-top:24px;}
.slider-container ul{ margin:0; position:relative; z-index:99;}
.slider-container .slider1{ height:auto; margin:0 0 0 0; overflow:hidden; position: relative; padding: 78px 0 0 0; top:-38px;}
.slider-container .slider1 .viewport { height: 410px; overflow: hidden; position: relative; }
.slider-container .slider1 .buttons {
	 background:url(/assets/img/pre-next-arrow.png) no-repeat 0 0;
    display: block;
    position: absolute;
    top:20px;
    right:40px;
    width: 11px;
  	height: 19px;
		z-index:999;
}
.slider-container .slider1 .next {
    right: 10px;
    left: auto;
    top: 20px;
	background-position:-10px 0;
}
.slider-container .slider1 .next:hover {background-position:-10px -19px;}
.slider-container .slider1 .prev:hover {background-position:0px -19px;}

.slider-container .slider1 .buttons:hover{
    color: #C01313;
}

.slider-container .slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
.slider-container .slider1 .overview li{ float: left; margin: 0 30px 0 0;height: 410px; width: 270px; position:relative;}

@media (max-width:1024px){
 .slider-container .slider1 .overview li{ width: 228px; margin-right:10px; height:height:360px;}
 .slider-container .slider1 .viewport{height:360px;}
 .slider-container .super-hot-tab li{ width:236px;}
}

@media (max-width: 979px){
	.slider-container .super-hot-tab li{ width:190px;}
	.slider-container .slider1 .overview li{ width:174px; height:360px;}	
	.slider-container .super-hot-tab li { width: 185px;}
	.slider-container .super-hot-tab li a{ font-size:16px;}
	.slider-container .slider1 .viewport{height:360px;}
	}
	
	@media (min-width:600px) and (max-width:640px){
		.slider-container .slider1 .overview li{ width:200px;}
		}
	
@media (max-width: 480px){	
.slider-container .super-hot-tab li { width: 100%;}
.slider-container .super-hot-tab li a{ width: 100%; padding:5px 0 5px 0; font-size:14px;}
.slider-container .slider1 .overview li{width:225px; height:370px;}
.slider-container .slider1 .viewport{ height:370px;}
.slider-container .slider1 .buttons{ top:40px;}
}

@media (max-width:360px){	
.slider-container .slider1 .overview li { height: 414px;width: 270px; margin-right:30px;}
.slider-container .slider1 .viewport{ width:270px; margin:auto; height: 414px;}
}
*/