<section>
  <div class="container midd-cont MT-0">
    <div class="inner-page-slider">
      <div class="row">
        <div class="span12 slider-inner"> <img src="/assets/main/inner-slider-banner1.jpg" alt=""> <a href="#" class="slider-inner-left-arrow">&nbsp;</a> <a href="#" class="slider-inner-right-arrow">&nbsp;</a>
          <div class="slider-bulet-inner"> <a href="#">&nbsp;</a> <a href="#">&nbsp;</a> <a href="#">&nbsp;</a> </div>
          <div class="slider-cont-inner"> <img src="/assets/main/flash-sale-icon.gif" alt="">
            <div class="banner-cap">On Sale</div>
          </div>
        </div>
      </div>
    </div>    
    <div class="featured-main" style="margin-top:50px;">
      <div class="row-fluid">
        <%@banner_main_small.each do |banner| %>
          <div class="span4">
            <%=link_to image_tag(banner.image.url(:original))+"<span class='feat-txt1'>Dress Code<small>Get Tle Look</small></span>".html_safe,"#{banner.link.present? ? banner.link : '#'} "%>
          </div>
        <%end%>         
      </div>
    </div>
    <% if @best_sellers.present? %>
      <div class="sale-listing">
        <div class="row">
          <div class="span12 sale-header white-line">
            <div class="pre-next"> <a class="pre" href="#">Pre</a> <a class="next" href="#">Next</a></div>
            <h1><span>Best Sellers</span></h1>
          </div>
        </div>
        <div class="row-fluid">
          <div id="MyProdctslider" class="carousel slide" style="height:420px">
            <div class="carousel-inner">
              <div class="active item"> 
                <% @best_sellers.each do |product|%>   
                  <%=render partial: "/welcome/slide_product",locals: {product: product,:variant=> nil}%>
                <%end%>
              </div>
            </div>
          <div>
        </div>        
      </div>
    <% end %>
    <% if @categories.present? %>
      <% @categories.each do |category| %>
        <% products = get_products(category) %>
        <% if products.present? %>
          <div class="sale-listing">
            <div class="row">
              <div class="span12 sale-header white-line">
                <div class="pre-next"> <a class="pre" href="#">Pre</a> <a class="next" href="#">Next</a></div>
                <h1><span><%= category.name %></span></h1>
              </div>
            </div>
            <div class="row-fluid">
              <div id="MyProdctslider" class="carousel slide" style="height:420px">
                <div class="carousel-inner">
                  <div class="active item"> 
                    <% products.each do |product| %>   
                      <%=render partial: "/welcome/slide_product",locals: {product: product,:variant=> nil}%>
                    <%end%>
                  </div>
                </div>
              <div>
            </div>          
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="row">
      <div class="span3 paging-show"><%#= page_entries_info @products %></div>
      <!--Paging Section Starts here-->
      <div class="pagination pagination-right pagination_dev">
          <%#= will_paginate @products, :previous_label => "<", :next_label => ">", :container => false %>
      </div>
      <!--Paging Section Ends here--> 
    </div>
  </div>
</section>