<footer>
    <ul>
      <li class="<%if session[:lang] == "en"%>active<%end%>" >
              <%= link_to "English",change_language_path(:new_locale => "en")%>
            </li>
            <li class="<%if session[:lang] == "pt"%>active<%end%>">
              <%= link_to "Portuguese",change_language_path(:new_locale => "pt")%>
            </li>
            <li class="<%if session[:lang] == "de"%>active<%end%>">
              <%= link_to "German",change_language_path(:new_locale => "de")%>
            </li>
    </ul>
    <div class="row-fluid get-app"> <a href="#" class="btn-get-app">Get the App</a> </div>
    <div class="row-fluid footer-main">
      <div class="container">
        <div class="row footer-inner-cont">
          <div class="span4">
            <h2>Latest News</h2>
            <div class="span3">
              <h3>05 March 2014</h3>
              <h4>Paris Fashion week <span><a href="#">Miu Miu A/W '14 collection</a></span> </h4>
              <p>Miuccia Prada looks ahead to next winter's inclement weather with some innovative wellies and anoraks. Integer eled dignissim libero, sit amet condimentum ma imperdiet eu. Proin a libero interdum, consectetur ante sed, convallis dolor. Donec vestibulum metus vitae diam adipiscing tempor. </p>
              <p>Vestibulum laoreet eros sapien, at 
                commodo tellus commodo eu. Donec eget odio consequat massa tempor vehicula. 
                Pellentesque euismod faucibus eros, vel dignissim metus tristique sed</p>
              <a href="#">See more from Paris Fashion Week </a> </div>
          </div>
          <div class="span4">
            <h2>Latest Tweets</h2>
            <div class="span3">
              <h3>2312 people follow <a href="#">#maddot</a></h3>
              <h4>Maddot <span><a href="#">Style Guide ,1h</a></span> </h4>
              <p>Sed a mattis dolor. Aliquam condimentum, ipsum in sodales malesuada, <a href="#">@maddot</a>.
                Suspendisse porta volutpat risus,  scelque nisi pharetra quis. <a href="#">fb/maddot</a></p>
              <h4>Maddot <span><a href="#">Summer 2014 ,2h</a></span></h4>
              <p>Sed a mattis dolor. Aliquam condimentum, ipsum in sodales malesuada, @maddot.
                Suspendisse porta volutpat risus,  scelque nisi pharetra quis.  fb/maddot </p>
            </div>
          </div>
          <div class="span4">
            <h2>facebook</h2>
            <h3>1452 people like <a href="#">MadDot</a></h3>
            <div class="facebook-img-list">
              <ul>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Anna</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Tom</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Antuan</span></a></li>
                <li class="last"><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Maria</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Anna</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Tom</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Antuan</span></a></li>
                <li class="last"><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Maria</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Anna</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Tom</span></a></li>
                <li><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Antuan</span></a></li>
                <li class="last"><a href="#"><img src="/assets/main/fb-img.jpg" alt=""><span>Maria</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row copy-right-footer-section">
          <div class="span3">
            <p>&copy; 2014 MadDot. All Rights Reserved.</p>
          </div>
          <div class="pull-right social-icon-footer"> <a href="#" class="fb-icon footer-social-sprite"></a><a href="#" class="google-icon footer-social-sprite"></a><a href="#" class="diaspora-icon footer-social-sprite"></a><a href="#" class="weibo-icon footer-social-sprite"></a><a href="#" class="printtist-icon footer-social-sprite"></a><a href="#" class="twitter-icon footer-social-sprite"></a><a href="#" class="youtube-icon footer-social-sprite"></a><a href="#" class="email-icon footer-social-sprite"></a> </div>
        </div>
      </div>
    </div>
  </footer>