<!DOCTYPE html>
<html>
<head>
<title>:: Mad Dot ::</title>
<link rel="stylesheet" type="text/css" href="/assets/main/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="bod-bg">
<!--Main Wrapper Starts Here-->
<div id="main-container">
  <header>
    <div class="center-inner-cont">
      <div class="float-div">
        <div class="my-img"><a href="#"><img src="/assets/main/my-img.gif" alt="" /></a></div>
        <div class="inner-page-logo"> <a href="#"><img src="/assets/main/inner-logo-mad-logo.gif" alt="" /></a> </div>
      </div>
    </div>
  </header>
  <section>
    <div class="center-inner-cont">
      <%=yield%>
    </div>
  </section>
  <!--Footer Wrapper Starts Here-->
  <footer>
    <div class="copy-right">Copyright &copy; 2014 mrmaddot All rights reserved.</div>
  </footer>
  <!--Footer Wrapper Ends Here--> 
</div>
<!--Main Wrapper Ends Here-->
</body>
</html>
<style>
  .mirrored{
    display: none;
  }
</style>
