<!DOCTYPE html>
<html>
<head>
	<title>:: Mad Dot ::</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
 		<%= javascript_include_tag 'vendor/custom.modernizr' %>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tag %>
</head>
<body class="bod-bg">
	<div id="main-container"> 
		<div class="center-align">
			<div class="home-cont">
				<div class="logo-index"><a href="#"><img src="/assets/main/logo-index.gif" alt=""></a></div>
				<div class="home-tab">
					<ul>
			    		<li><a href="#"><span>Brand</span></a></li>
			        <li><a href="#"><span>Style</span></a></li>
			        <li><a href="#"><span>Gender</span></a></li>
			        <li><a href="#"><span>Hot</span></a></li>
			        <li><a href="#"><span>News</span></a></li>
			        <li><a href="#"><span>Blog</span></a></li>
			        <li><a href="#"><span>Show</span></a></li>
			    </ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>